#really this page should only be a "View page with the exception of
#on this view page they "view the feed and can click buttons
#those buttons should direct them to the appropriate model"
#so for our test let's make sure it directs tot his page first
<h1>Welcome</h1>