<p style="color: green"><%= notice %></p>

<h1>Mainpages</h1>

<div id="mainpages">
  <% @mainpages.each do |mainpage| %>
    <%= render mainpage %>
    <p>
      <%= link_to "Show this mainpage", mainpage %>
    </p>
  <% end %>
</div>

<%= link_to "New mainpage", new_mainpage_path %>
